---
const basePath = Astro.site ? new URL(Astro.site).pathname.replace(/\/$/, '') : '';
const nav = [
  { href: `${basePath}/blog`, label: 'Blog' },
  { href: `${basePath}/about`, label: 'Về tôi' },
  { href: `${basePath}/thanh-tich`, label: 'Thành tích' },
];
---
<header class="site">
  <div class="container nav">
    <a class="logo" href={`${basePath}/`}>
      <img src={`${basePath}/images/js.svg`} alt="logo" width="22" height="22" />
      <span><b>Lê Nguyễn Duy Khang</b> – Blog cá nhân</span>
    </a>
    <nav class="menu">
      {nav.map((i) => <a href={i.href}>{i.label}</a>)}
    </nav>
  </div>
</header>
